html{
    color: #000000;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

body{
    background-color: #AFEEEE;
}
#texto{
    color:#ffffff;
    background-color: #48D1CC;
    text-align: center;
    font-size: 100px;
    margin-bottom: 60px;
    width: 100%;
    font-family: 'Lobster';
}

h3 {
    font-size: 20px;
    margin-left: 240px;
    margin-bottom: 20px;
}

form {
    margin-left: 250px;
    padding:50px;
    display: inline-block;
    border-style: solid;
    border-width: 10px;
    border-color: #48D1CC;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px; color: #000000;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #48D1CC;
    color: #021b1b
    font-size:#B23AEE 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: 'Lobster';
}

#resultados {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}